@zoom-backgroud: #fff;
@zoom-color: #666;
@zoom-disabled-color: rgba(187, 190, 196, 0.6);
@zoom-disabled-backgroud: #f7f7f7;
@zoom-disabled-border-color: #dddee1;
@tooltip-background: rgba(50, 50, 50, 0.7);
@tooltip-border-color: rgb(51, 51, 51);
@tooltip-color: rgb(255, 255, 255);
@legend-background: rgba(255, 255, 255, 0.7);
@legend-shadow: rgba(8, 16, 34, 0.3);
@legend-color: #000000;
@legend-infinity-color: #495060;