{
	"presets": ["es2015", "stage-3"],
	"plugins": [
		["transform-runtime", {
			"helpers": false,
			"polyfill": false,
			"regenerator": true,
			"moduleName": "babel-runtime"
		}]
	],
	"comments": false
}