<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
        body,
        html {
            width: 100%;
            height: 100%;
            margin: 0;
        }

        #allmap {
            width: 100%;
            height: 100%;
        }

        #app {
            position: fixed;
            top: 0px;
            left: 0px;
            width: 100%;
            background-color: #fff;
            z-index: 99999;
            padding: 5px 20px;
        }
    </style>
    <script>
      
    </script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=U3q69k0Dv0GCYNiiZeHPf7BS"></script>
    <script type="text/javascript" src="http://huiyan.baidu.com/mapv/demo/js/dist/BaiduMap_cityCenter.js"></script>
    <script src="./data/shenzhen.js"></script>
    <script src="../dist/inmap.js"></script>
    <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
    <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
</head>
</head>
<title></title>
</head>

<body>
    <div id="app">
        请选择板块：
        <i-select v-model="model" style="width:200px">
            <i-option v-for="item in boundarys" :value="item.value" :key="item.value">{{ item.label }}</i-option>
        </i-select>
    </div>
    <div id="allmap"></div>
</body>

</html>
<script>
      inMap.workerMrg.create('http://localhost:8000/work/inmap/dist/worker.js');
    var inMapVue = new Vue({
        el: '#app',
        data: {
            boundarys: [],
            model: ''
        },
        watch: {
            model: function (newVal, oldVal) {
                console.log(newVal);
                overlay.setSelectd("name=='" + newVal + "'",true);
            }
        },
        mounted: function () {
            data.forEach(function (element) {
                this.boundarys.push({
                    value: element.name,
                    label: element.name
                })
            }, this);
        }
    })

    var inmap = new inMap.Map({
        id: 'allmap',
        center: ["114.16248337214269", "22.559515429553684"],
        zoom: {
            value: 11,
            show: true,
            max: 22
        }
    })
    var overlay = new inMap.BoundaryOverlay({
        tooltip: {
            show: true,
            position: 'top',
            // formatter: "{name}~{count}",
            formatter: function (params) {
                return params.count;
            }
        },
        legend: {
            show: true,
            // title: "板块去重设备数 "
        },
        label: {
            show: true, // 是否显示
            font: "11px", // 设置字号
            minZoom: 7, // 最小显示的级别
            color: 'rgba(0, 0, 0, 1)'
        },
        style: {
            normal: {
                backgroundColor: 'rgba(0, 0, 0, 1)',
                borderWidth: 3,
                // borderColor: "rgba(255,255,255,1)",
            },
            mouseOver: {
                backgroundColor: 'rgba(200, 200, 200, 1)',
                borderColor: "rgba(10,225,70,1)",
                label: {
                    color: 'rgba(255,0,0,1)'
                }

            },
            selected: {
                backgroundColor: 'rgba(184,0,0,1)',
                borderColor: "rgba(255,255,255,1)",
                label: {
                    color: 'rgba(255,255,255,1)'
                }
            },
            colors: [
                "rgba(156,200,249,0.6)", "rgba(93,158,247,0.6)",
                "rgba(134,207,55,0.6)",
                "rgba(252,198,10,0.6)", "rgba(255,144,0,0.6)", "rgba(255,72,0,0.6)",
                "rgba(255,0,0,0.6)"
            ],
            splitList: [{ //设置区间颜色
                    start: 0,
                    end: 1,
                    backgroundColor: 'rgba(200, 200, 50, 1)',
                },
                {
                    start: 1,
                    end: 2,
                    backgroundColor: 'rgba(255,132,41,1)',
                },
                {
                    start: 2,
                    end: 3,
                    backgroundColor: 'rgba(255,241,0,1)',
                },
                {
                    start: 3,
                    backgroundColor: 'rgba(148,238,136,1)',
                }
            ],
        },
        data: [],
        multiSelect: false, //是否支持多选
        event: {
            onMouseClick: function (item) {
                //能获取当前点的信息
            }
        }
    });
    // debugger
    inmap.add(overlay);

    // debugger
    overlay.setPoints(data);
    //判断点是否在围栏内
    //  console.log(inmap.utils.isPolyContainsPt(114.16248337214269, 22.559515429553684, data[0].geo));
</script>